body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#banner {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#content {
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 50px;
}
